@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #1a2abb;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: z#f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1a2abb;
  margin-bottom: 30px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #2028a5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.order_Created h2 {
  font-size: 20px;
  color: #1a2abb;
  margin-bottom: 30px;
}
.OrderPreview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.OrderPreview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.OrderPreview h2 {
  font-size: 20px;
  color: #3849e7;
  margin-bottom: 8px;
}
.Total_Orders h2{
  font-size: 40px;
  color: #373c64;
  margin-bottom: 30px;
  margin-left: 10px;
  
}
.OrderPreview p {
  font-size: 20px;
  color: #373c64;
  margin-bottom: 5px;
}
.OrderPreview a{
  text-decoration: none;
}